# ── ROS 2 构建产物 ──
build/
install/
log/

# ── 本地生成的编译数据库 ──
compile_commands.json
compile_commands.json.bak

# ── 本地工具缓存 ──
.cache/
*.pyc
__pycache__/

# ── Git 版本控制 ──
.git/
.gitignore

# ── VS Code 本地配置 ──
.vscode/

# ── Dev Container 配置 ──
.devcontainer/*
!.devcontainer/scripts
!.devcontainer/scripts/**

# ── 系统/编辑器临时文件 ──
*.log
*.tmp
*.swp
.DS_Store

# ── 构建脚本 ──
colcon_build.sh